<h2>{{ isEditMode ? 'Edit Book' : 'Add Book' }}</h2>
<div *ngIf="loading" class="loading-text">Saving book...</div> 

<form [formGroup]="bookForm" (ngSubmit)="submit()">

  <div class="form-group">
    <label>Title</label>
    <input type="text" formControlName="title">
    <div *ngIf="bookForm.get('title')?.touched && bookForm.get('title')?.invalid" class="error-msg">
      Title is required (min 3 characters)
    </div>
  </div>

  <div class="form-group">
    <label>Author</label>
    <input type="text" formControlName="author">
    <div *ngIf="bookForm.get('author')?.touched && bookForm.get('author')?.invalid" class="error-msg">
      Author is required (min 3 characters)
    </div>
  </div>

  <div class="form-group">
    <label>Category</label>
    <input type="text" formControlName="category">
    <div *ngIf="bookForm.get('category')?.touched && bookForm.get('category')?.invalid" class="error-msg">
      Category is required
    </div>
  </div>

  <div class="form-group">
    <label>Short Description</label>
    <textarea formControlName="description" rows="4"></textarea>
    <div *ngIf="bookForm.get('description')?.touched && bookForm.get('description')?.invalid" class="error-msg">
      Description is required (min 10 characters)
    </div>
  </div>

  <button type="submit">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>

</form>